*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    /* border: 1px solid red; */
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body{
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primario);
}
:root{
    --color-primario: hsl(185, 41%, 84%);
    --color-secundario:hsl(183, 100%, 15%);
    --color-terceario:hsl(186, 14%, 43%);
    --color-c:hsl(184, 14%, 56%);
    --color-q:hsl(185, 41%, 84%);
}
main{
    display: flex;
    width: auto;
    height: auto;
    /* margin: 50vh 50vh; */ 
    background-color:white;
    padding: 25px;
    border-radius: 15px;
}

.tip{
    display: flex;
    flex-direction: row;
}
#scream{
    background-color:var(--color-secundario) ;
    padding: 20px;
    
    border-radius: 15px;
}